.PageContainer {
	overflow:hidden;
	background-color:#FFFFFF;
}


.s0 {
	white-space:pre;
	position:absolute;
	display:inline-block;
}

.s1 {
	border:0;
	margin:0;
	white-space:pre;
	position:absolute;
	display:block;
}

.trn_link {
	background-image:url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICR??AEAOw==');
	position:absolute;
}

.l0 { line-height:1.00; }

.fs5 { font-size:445.00px; }

.fs13 { font-size:515.00px; }

.fs3 { font-size:576.00px; }

.fs7 { font-size:607.00px; }

.fs0 { font-size:637.00px; }

.fs8 { font-size:676.00px; }

.fs2 { font-size:707.00px; }

.fs9 { font-size:764.00px; }

.fs1 { font-size:768.00px; }

.fs10 { font-size:799.00px; }

.fs6 { font-size:899.00px; }

.fs12 { font-size:960.00px; }

.fs4 { font-size:1152.00px; }

.fs11 { font-size:1183.00px; }

.t1 {
	-webkit-transform:scale(0.994764, 1.005236);
	-o-transform:scale(0.994764, 1.005236);
	-ms-transform:scale(0.994764, 1.005236);
	-moz-transform:scale(0.994764, 1.005236);
	transform:scale(0.994764, 1.005236);
}

.t0 {
	-webkit-transform:scale(0.995349, 1.004651);
	-o-transform:scale(0.995349, 1.004651);
	-ms-transform:scale(0.995349, 1.004651);
	-moz-transform:scale(0.995349, 1.004651);
	transform:scale(0.995349, 1.004651);
}

.o0 {
	-webkit-transform-origin:0.00% 100.00%;
	-o-transform-origin:0.00% 100.00%;
	-ms-transform-origin:0.00% 100.00%;
	-moz-transform-origin:0.00% 100.00%;
	transform-origin:0.00% 100.00%;
}

.f5 {
	font-family:f5generic;
}


.f6 {
	font-family:f6generic;
}


.f0 {
	font-family:f0generic;
}


.f1 {
	font-family:f1generic;
}


.f2 {
	font-family:f2generic;
}


.f3 {
	font-family:f3generic;
}


.f4 {
	font-family:f4generic;
}


.f7 {
	font-family:f7generic;
}


body{margin:0;background-color:#808080;}

.PageContainer{ position:absolute;top:0px;left:0px;}

.TextContainer{height:100%;width:100%;white-space:nowrap;position:absolute;-webkit-transform-origin:left bottom;-o-transform-origin:left bottom;-ms-transform-origin:left bottom;-moz-transform-origin:left bottom;transform-origin:left bottom;}